.form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-item {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.error-text {
    color: red
}